/* reset */
*::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
}
ol {
  list-style-position: inside;
}

/* theme and typography */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Geologica:wght@100&display=swap');

:root {
  --yellow: #FFE45E;
  --white: #F9F9F9;
  --pink: #FF6392;
  --blue-dark: #5AA9E6;
  --blue-light: #7FC8F8;
  --black: #1C1D21;
}

body {
  font-family: "Inria Serif", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  /* padding: 2rem; */
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

main, header, footer {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

a {
  color: var(--yellow);
  text-decoration: underline;
}

header {
  font-family: "Barlow", sans-serif;
}
header h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--blue-light);
}

ul li::before {
  content: "— ";
  color: var(--pink);
}
ol li::marker {
  color: var(--blue-dark);
}

p {
  font-weight: 400;
}

em {
  color: var(--pink);
  font-weight: 300;
}

strong {
  color: var(--yellow);
  font-weight: 800;
}

.hero {
  font-size: 6rem;
  font-family: sans-serif;
  color: #906090;
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 3rem;
  }
  body {
    background-color: darkslategray;
  }
}